<div class="row">
    <h2>{{ first_name }} {{ last_name }}</h2>
    <form action="profile/delete" method="post">
        <input type="hidden" value="{{ user_id }}" name="user_id">
        <button type="submit" class="btn waves-effect waves-light red lighten-2">Delete</button>
    </form>
    <div class="row">
        <form class="col s12" action="/profile" method="post">
            {{#if error}}
                {{ error }}
            {{/if}}
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" placeholder="First Name" type="text" name="first_name" required class="validate" value={{ first_name }}>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" placeholder="Last Name" type="text" name="last_name" required class="validate" value={{ last_name }}>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" placeholder="Password" type="password" name="password" required class="validate" value={{ password }}>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" placeholder="Email" type="email" name="email" required class="validate" value={{ email }}>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
